<ion-menu menuId="games-menu" side="end" contentId="games-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        <h2 *ngIf="(userRole$ | async) === 'member'">{{(user$ | async).name }}</h2>
        <h2 *ngIf="(userRole$ | async) === 'guest'">Guest</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false" menu="games-menu">
        <ion-item routerLink="/games/train" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="train-outline" slot="start"></ion-icon>
          <ion-label>{{'games.train.title' | translate}}</ion-label>
        </ion-item>
        <ion-item routerLink="/games/rummy" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="journal-outline" slot="start"></ion-icon>
          <ion-label>{{'games.rummy.title' | translate}}</ion-label>
        </ion-item>
        <ion-item routerLink="/games/uno" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="invert-mode-outline" slot="start"></ion-icon>
          <ion-label>{{'games.uno.title' | translate}}</ion-label>
        </ion-item>
        <ion-item routerLink="/games/thousand" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="layers-outline" slot="start"></ion-icon>
          <ion-label>{{'games.thousand.title' | translate}}</ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item button (click)="switchLanguage()">
          <ion-icon name="earth-outline" slot="start"></ion-icon>
          <ion-label>{{'language' | translate}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(userRole$ | async) === 'member'" button (click)="onLogout()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>{{'modules.user.logout' | translate}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(userRole$ | async) === 'guest'" routerLink="/auth/signin" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="log-in" slot="start"></ion-icon>
          <ion-label>{{'modules.user.signin' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="games-content"></ion-router-outlet>